h1 {
    color: blueviolet;
}

body {
    background-color: bisque;
}

table,
th,
td {
    border: 1px solid blue;
    border-radius: 2%;
}

td {
    padding: 15px;
    margin: 5px;
}

tr {
    background-color: aquamarine;
}